<div class="navBar">
    <img src="/img/Garnet_Logo.png" class="navLogo"> 
    <h1 class="navHeader"> {{title}} </h1>
    <ul class="navList">
        <li class="navListItem"><a href="/">Home</a></li>
        <li class="navListItem"><a href="/viewProfile">View Profile</a></li>
        <li class="navListItem"><a href="/welcome">Log Out</a></li>
    </ul>
</div>