<div class="sidebar">
    <h3>Look for more</h3>
    <form  class="searchBar">
        <input type="text" placeholder="Search.." class="formInput">
        <button type="submit" class="genButton-white">Search</button>
    </form>

    <div class="contentCard-dark">
        <a href="/posting" style="margin-left: 30px;">
            <button class="genButton-white">
                Create Post
            </button>
        </a>
    </div>
</div>