<div class="sidebar">
    <h3>Look for more</h3>
    <form  class="searchBar">
        <input type="text" placeholder="Search.." class="searchInput">
        <button type="submit" class="searchButton">
            <img src="/img/searchIcon.png" class="searchIcon">
        </button>
    </form>

    <div class="contentCard-dark">
        <a href="/posting" style="align-self: center; margin-left: 13px;">
            <button class="genButton-white" style="width: 70%;">
                Create Post
            </button>
        </a>
    </div>
</div>