<a href="/messageUser/{{thread.user2}}" class="preview">
    <li class="messagePreview">
        <h4 class="messageUser">{{thread.user2}}</h4>
        <p  class="lastMessage">{{text.sender}}: {{text.content}}</p>
    </li>
</a>