<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/garnet_stylesheet.css" />
</head>
<body>
    {{> nav title="Garnet: A Hidden Gem"}}
    {{{body}}}
</body>
</html>