{{> nav title="Garnet: A Hidden Gem" navBarStyle="home"}}
<div class="bodyContainer">
    {{> searchSidebar}}
    {{#each posts}}
        {{> postPartial post=this}}
        {{else}}
            <p>NO POSTS DETECTED</p>
    {{/each}}
</div>