{{> nav title="Garnet: A Hidden Gem" navBarStyle="register"}}

<div class="welcomeLogoHolder">
	<img src="/img/welcomeBG2.png" class="welcomeLogoBackground"></div>
	<img src="/img/Garnet_Logo.png" class="welcomeLogo">
</div>

{{!-- FORM --}}
<div class="welcomeDescContainer">
    <div class="welcomeDesc">
		<h1> GARNET </h1>
		<h3><i> Looking for a hidden gem? </i></h3>
	</div>

    <div class="contentCard-light registerCard" style="top: 12vh; right: 9vw">
        <p class="formSection">Enter account details:</p>
        <form id="logInForm" method="post">
            <!-- Email and pass -->
            <label for="email" class="formLabel">Email: </label> 
            <input type="Email"     id="email"    name="email" class="formInput" required> 
            <label for="password" class="formLabel">Password: </label> 
            <input type="password"  id="password" name="password" class="formInput" required>
            
            <a href="/home">
                <button type="submit" class="regLogButton welcomeLogIn">Log In</button>
            </a>
        </form>
    </div>

    <!-- POP-UP FOR INVALID USERNAME & EMAIL -->
    <div id="invalidPopUp" class="contentCard-light invalidCard hiddenPopUp" style="grid-column: 1 / span 3;">
        <p><b>Invalid log-in.</b> Username or password do not match.</log-in>.</p>
    </div>
</div>

<script src="/js/log-in.js"></script>