{{> nav title="Garnet: A Hidden Gem" notClean=false}}
<div class="bodyContainer">
        <div class="contentCard-light" style="grid-column: 1 / span 3">
            <form>
            <!-- Email and pass -->
            <label for="email" class="formLabel">Enter Email: </label> <br>
            <input type="text" id="email" name="userInfo" class="formInput"> <br>
            <label for="password" class="formLabel">Enter Password: </label> <br>
            <input type="password" id="password" name="userInfo" class="formInput"> <br>
                
                <!-- Submit button -->
            </form>
                <a href="/home"><button class="genButton-red">Log In</button></a>
        </div>
    </div>