{{> nav title="Garnet: A Hidden Gem" navBarStyle="register"}}
<div class="bodyContainer">
    <div class="contentCard-light" style="grid-column: 1 / span 3">
        <form id="logInForm">
            <!-- Email and pass -->
            <label for="email" class="formLabel">Enter Email: </label> <br>
            <input type="Email" id="email" name="userInfo" class="formInput" required> <br>
            <label for="password" class="formLabel">Enter Password: </label> <br>
            <input type="password" id="password" name="userInfo" class="formInput" required> <br>
            
            <a href="/home">
                <button class="genButton-red" onclick="ValidateLogIn()">Log In</button>
            </a>
        </form>
    </div>
</div>

<script src="../public/js/log-in.js"></script>