<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../public/css/garnet_stylesheet.css">
<title>Log-In</title>
</head>

<body class="home-body">

 <!-- Navigation Bar -->
    <div class="navBar">
        <img src="../public/img/Garnet_Logo.png" class="navLogo"> 
        <h1 class="navHeader"> Log In </h1>
        <ul class="navList">
            <li class="navListItem"><a href="Home.html">Home</a></li>
            <li class="navListItem"><a href="Register.html">Register</a></li>
            <!-- <li class="navListItem"><a href="ViewProfile.html">View Profile</a></li> -->
        </ul>
    </div>

<!--Table of Contents-->

 <div class="form">
		<input class = "formInput" type="text"     placeholder="Username" required>
		<input class = "formInput" type="password" placeholder="Password" required>
    
    </div>



<a href="Home.html">
<button class="submitFormButton" type="submit">Log In</button>
</a>



</body>

</html>