{{> nav title="Message" notClean=true}}
<div style="display:flex">
    <!-- Message Body -->
    <div class="sidebar-full">
        <ul>
            {{#each messageThreads}}
                {{> textPreview @root.texts}}
            {{/each}}
        </ul>
    </div>

    <div class="currentMessageThreadContainer">
        <div class="messageThread">
            <p class="messageThreadLeft">Hey there :)</p>
            <p class="messageThreadRight">Hey!</p>
        </div>
        <div class="messageInputContainer">
            <form class="messageForm">
                <textarea class="messageNewInput"></textarea>
                <button class="sendMessage"></button>
            </form>
        </div>

    </div>

</div>