{{> nav title="Garnet: A Hidden Gem" notClean=true}}
<div style="display:flex">
    <!-- Message Body -->
    <div class="sidebar-full">
        <ul>
            <li>
                <h4 class="messageUser">Si-Szas</h4>
                <p  class="lastMessage"> You sent: Hey!</p>
            </li>
            <li>
                <h4 class="messageUser">Ayze</h4>
                <p  class="lastMessage"> Ayze sent: :3</p>
            </li>
            <li>
                <h4 class="messageUser">JAN-VINGNO</h4>
                <p  class="lastMessage"> You sent: Dude did you see the new game theory vid</p>
            </li>
        </ul>
    </div>

    <div class="currentMessageThreadContainer">
        <div class="messageThread">
            <p class="messageThreadLeft">Hey there :)</p>
            <p class="messageThreadRight">Hey!</p>
            <input type="text" class="messageNewInput"></input>
        </div>

    </div>

</div>