{{> nav title="Message" notClean=true}}
<div style="display:flex">
    <!-- Message Body -->
    <div class="sidebar-full">
        <ul>
            {{#each user.messageThreads}}
                {{> textPreview @root.texts}}
            {{/each}}
        </ul>
    </div>

    <div class="currentMessageThreadContainer">
        <h2 class="messageThreadHeader">{{messageThread.sender}}</h2>
        <div class="messageThread">
            {{#each messageThread.texts}}
                {{> messageThread text=this @root.user}}
            {{/each}}
        </div>
        <div class="messageInputContainer">
            <form class="messageForm">
                <textarea class="messageNewInput"></textarea>
                <button class="sendMessage"></button>
            </form>
        </div>
    </div>
</div>