<!DOCTYPE html>

<html>

<head>
<link rel="stylesheet"  href="stylesheet.css">
<title>Let's Post!</title>
</head>

<body class="home-body">

<h1 class="title-format">CREATE A POST </h1>

<form>
<p> How are we feeling? </p>
<select>
<option value="0" >  </option>
<option value="happy" > I love this post, man! </option>
<option value="sad" > This makes me feel sad </option>
<option value="confused" > I'm confused </option>
<option value="angry" > Why would you post this?! </option>
</select>
</form>

<p> Title </p>
<input type="text" />

<p> Comment </p>
<input type="text" />

<br>
<input type="submit" />
</form>



</body>

</html>