{{> nav title="Garnet: A Hidden Gem" notClean=true}}

<div class="bodyContainer">

    <div class="contentCard-light" style="grid-column: 1 / span 3;">
        <h1 style="text-align: center;">CREATE A POST </h1>

        <form>
            <label for="post" class="formLabel">How are you feeling?</label>
            <select>
                <option value="0" >  </option>
                <option value="happy" > I'm happy! :) </option>
                <option value="sad" > I'm sad :( </option>
                <option value="confused" > I'm confused ,':/ </option>
                <option value="angry" > I'm angry >:[ </option>
            </select>
            </form>

            <label for="post" class="formLabel">Title: <br></label>
            <input type="text" class="formInput"/>

            <label for="post" class="formLabel">Content: </label>
            <input type="text" class="formInput"/>

            <a href="/home"><button class="genButton-red">Post</button></a>
        </form>
    </div>

</div>