{{> nav title="Garnet: A Hidden Gem" notClean=false}}

<div class="bodyContainer">

    <div class="contentCard-light" style="grid-column: 1 / span 3">
        <form>
            <input class = "formInput" type="text"     placeholder="First Name" required>
            <input class = "formInput" type="text"     placeholder="Last Name" required>
            <input class = "formInput" type="Email"    placeholder="Email" required>
            <input class = "formInput" type="date"     placeholder ="Birthdate" required> 
            <input class = "formInput" type="text"     placeholder="Username" required>
            <input class = "formInput" type="password" placeholder="Password" required>
        </form>

        <a href="/log-in">
            <button class="genButton-red">Sign Up</button>
        </a>
    </div>
</div>