{{> nav title="Garnet: A Hidden Gem" navBarStyle="register"}}

<div class="bodyContainer">

    <!-- FORM -->
    <div class="contentCard-light" style="grid-column: 1 / span 3">
        <form id="registerForm">
            <input id="firstName" class = "formInput" type="text"     placeholder="First Name" required>
            <input id="lastName"  class = "formInput" type="text"     placeholder="Last Name" required>
            <input id="email"     class = "formInput" type="Email"    placeholder="Email" required>
            <input id="username"  class = "formInput" type="text"     placeholder="Username" required>
            <input id="password"  class = "formInput" type="password" placeholder="Password" required>
        
            <a href="/log-in">
                <button class="genButton-red" onclick="registerUser()">Sign Up</button>
            </a>
        </form>
    </div>

    <!-- POP-UP FOR REGISTRATION -->
    <div id="registerPopUp" class="contentCard-light hiddenPopUp" style="grid-column: 1 / span 3;">
        <p>You have successfully registered! You may now <b>log-in</b></log-in>.</p>
    </div>

</div>

<script src="/js/register.js"></script>