{{> nav title="Garnet: A Hidden Gem" notClean=false}}

<div class="bodyContainer">

    <div class="contentCard-light" style="grid-column: 1 / span 3">
        <form>
            <input id="firstName" class = "formInput" type="text"     placeholder="First Name" required>
            <input id="lastName"  class = "formInput" type="text"     placeholder="Last Name" required>
            <input id="email"     class = "formInput" type="Email"    placeholder="Email" required>
            <input id="username"  class = "formInput" type="text"     placeholder="Username" required>
            <input id="password"  class = "formInput" type="password" placeholder="Password" required>
        
            <a href="/log-in">
                <button class="genButton-red" onclick="registerUser()">Sign Up</button>
            </a>
        </form>

        <!-- TESTING IF DATA ACQUIRED -->
        <p id="registerTest"></p>

    </div>
</div>

<script src="/js/register.js"></script>