{{> nav title="Garnet: A Hidden Gem" navBarStyle="register"}}

<div class="welcomeLogoHolder">
	<img src="/img/welcomeBG2.png" class="welcomeLogoBackground"></div>
	<img src="/img/Garnet_Logo.png" class="welcomeLogo">
</div>

<div class="welcomeDescContainer">
	<div class="welcomeDesc">
		<h1> GARNET </h1>
		<h3><i> Looking for a hidden gem? </i></h3>
		<p>
			<i>Garnet</i> is a social networking platform designed by Game Developers for Game Developers. Find like-minded peers and make connections that will last forever. Garnet: Your one stop shop for finding hidden gems.
		</p>
	</div>

	<div class="welcomeDesc contentCard-light welcomeButtons">
		<p>Register an account.</p>
		<button class="welcomeButton welcomeRegister" onclick="window.location.href='/register'">
			REGISTER
		</button>
		
		<p>Already have an account?</p>
		<button class="welcomeButton welcomeLogIn"  onclick="window.location.href='/log-in'">
				LOG IN
		</button>
	</div>
</div>