{{> nav title="Garnet: A Hidden Gem" notClean=false}}

<body class="home-body">
	
	<center><img src="/img/Garnet_Logo.png" width="400" height="400"> </center>
	
	<center>
	<a href="/register">
	<button class="genButton-red">REGISTER</button>
	</a>
	</center>
	
	<center>
	<a href="/log-in">
	<button class="genButton-red">LOG IN</button>
	</a>
	</center>

</body>

</html>