<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../public/css/garnet_stylesheet.css">
<title>WELCOME</title>
</head>

<body class="home-body">

 <!-- Navigation Bar -->
    <div class="navBar">
        <img src="../public/img/Garnet_Logo.png" class="navLogo"> 
        <h1 class="navHeader"> Home </h1>
        <ul class="navList">
            <li class="navListItem"><a href="Register.html">Register</a></li>
            <li class="navListItem"><a href="Log-In.html">Log-In</a></li>
            <!-- <li class="navListItem"><a href="ViewProfile.html">View Profile</a></li> -->
        </ul>
    </div>
	
	<center><img src="../public/img/Garnet_Logo.png" width="400" height="400"> </center>
	
	<center>
	<a href="Register.html">
	<button class="submitFormButton" type="submit" >REGISTER</button>
	</a>
	</center>
	
	<center>
	<a href="Log-In.html">
	<button class="submitFormButton" type="submit">LOG IN</button>
	</a>
	</center>

</body>

</html>