/* FONTS */

    /* Source: https://www.fontshare.com/fonts/expose */
@font-face {
    font-family: 'Expose';
    src: url(Fonts/Expose-Variable.ttf);
}

    /* Source: https://open-foundry.com/fonts/tex-gyre-heros */
@font-face {
    font-family: 'TexGyreHeros';
    src: url(Fonts/TexGyreHeros/texgyreheros-regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TexGyreHeros';
    src: url(Fonts/TexGyreHeros/texgyreheros-bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TexGyreHeros';
    src: url(Fonts/TexGyreHeros/texgyreheros-italic.otf);
    font-weight: normal;
    font-style: italic;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
    margin: 0px;
    background-color: #6d363a;
}

.bodyContainer {
    margin: 20px;
    display: grid;
    column-count: 3;
    justify-content: center;
    grid-template-columns: 100px auto 100px;
    column-gap: 200px;
}

.navLogo {
    width: 50px;
    float: left;
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: #4b2427;
    padding: 10px;
    height: 50px;
    display: flex;

    font-family: 'Expose';
    color: #efebe6;
}

.navHeader {
    font-size: 25px;
    text-align: left;
    margin: 5px;
}

ul.navList {
    float: right;

    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li.navListItem {
    height: 100%;
    float: left;
}

li.navListItem a {
    color: #efebe6;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 10px;
}

li.navListItem:hover {
    background-color: #6d363a;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* POSTS */
.postContainer {
    background-color: #e6dad6;
    margin: 7px auto;
    padding: 5px;
    display: grid;
    width: 500px;
    font-family: TexGyreHeros;
    justify-content: left;
    border-radius: 10px;

    grid-column: 2 / span 1;
}

.postHeader {
    background-color: #dfd1ca;
    display: grid;
    width: 500px;
    font-family: TexGyreHeros;
    justify-content: left;
}

.postHeader img {
    width: 40px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.postHeader h3 {
    font-size: medium;
    color: #4b2427;

    margin: 0;
    padding: 7px 5px;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.postBody {
    background-color: #efebe6;
    padding: 0px 30px;
    grid-row: 2 / span 1;
}

.postFooter {
    display: flex;
    float: left;
    font-size: smaller;
    grid-row: 3 / span 1;
}

.postFooter a {
    text-decoration: none;
    color: #6d363a;
    margin: 5px;
}

.postLikeCount, .postCommentCount {
    margin: 5px;
    color: #6d363a;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* UTILITY */

    /* Sidebars */
.sidebar {
    background-color: #4b2427;
    grid-column: 1 / span 1;
    border-radius: 10px;
    margin: auto;
    width: 200px;
    padding: 10px;

    color: #e6dad6;
    font-family: 'TexGyreHeros';
    font-size: smaller;
}

.sidebar h3 {
    font-family: 'Expose';
    padding: 3px;
    margin: 0;
}

.sidebar ul {
    background-color: #8f493f;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.sidebar ul li {
    padding: 2px;
}

    /* Basic content card container */
.contentCard-light {
    background-color: #e6dad6;
    padding: 5px 20px;
    margin: 0;
    border: 7px solid #dfd1ca;

    color:#4b2427;
    font-family: "TexGyreHeros";
    font-size: small;
}

.contentCard-dark {
    background-color: #8f493f;
    padding: 5px 20px;
    margin: 0;
    border: 7px solid #6d363a;

    color:#efebe6;
    font-family: "TexGyreHeros";
    font-size: small;
}

    /* Generic buttons */
.genButton-white {
    background-color: #efebe6;
    width: 100px;
    margin: 10px;
    padding: 10px 20px;

    border-radius: 20px;
    border: none;

    color: #4b2427;
}

.genButton-white:hover {
    background-color: #dfd1ca;
}

.genButton-red {
    background-color: #8f493f;
    width: 100px;
    margin: 10px;
    padding: 10px 20px;

    border-radius: 20px;
    border: none;

    color: #efebe6;
}

.genButton-red:hover {
    background-color: #6d363a;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* Profiles */

.profileContainer {
    background-color: #8f493f;
    margin: 7px auto;
    padding: 5px;
    display: grid;
    width: max-content;

    font-family: TexGyreHeros;
    justify-content: left;
    border-radius: 10px;

    grid-column: 2 / span 1;
}

.profileHead {
    background-color: #4b2427;
    width: 600px;
    color: #efebe6;

    display: grid;
    align-content: center;
}

.profileHead h1 {
    margin: 0px 10px;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.profileHead p {
    margin: 10px 20px;
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}

.profileHeadButtons {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    margin: 5px;
    justify-self: flex-end;
}

.profileHeadButtons button {
    background-color: #8f493f;
    border-radius: 20px;
    color: #efebe6;
    border: none;
    height: 30px;
    width: 100px;
}

.profileHeadButtons button:hover {
    background-color: #6d363a;
}

.profileHeadBanner {
    grid-row: 1;
    grid-column: 1 / span 2;
    width: 100%;
    height: 150px;
    object-fit:cover;
}

.profileHeadAvatar {
    width: 100px;
    border-radius: 100px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;

    position: relative;
    left: 30px;
    top: 90px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* Profiles */

form {
    padding: 20px; 
    color: #4b2427;
}

.formInput {
    width: 90%; 
    padding: 5px; 
    margin: 5px;
    outline:none; 
    background-color: rgb(240, 240, 240);
    font-family: TexGyreHeros;

    border: 2px solid #8f493f;
    border-radius: 5px;
}

.formLabel {
    font-weight: bold;
}

.submitFormButton {
    background-color: #8f493f;
    width: 100px;
    margin: 10px;
    padding: 5px;

    border-radius: 5px;
    border: none;

    color: #efebe6;
}